type autotest, domain;
type autotest_exec, exec_type, file_type;

init_daemon_domain(autotest)

allow autotest system_file:file { execute_no_trans execmod };
allow autotest shell_exec:file { read open execute execute_no_trans };
allow autotest self:capability { dac_override sys_nice fowner setgid setuid fsetid sys_module sys_admin chown net_admin net_raw sys_boot };
allow autotest self:capability2 { block_suspend syslog };
allow autotest property_socket:sock_file write;
allow autotest engpc:unix_stream_socket connectto;
allow autotest init:unix_stream_socket connectto;
allow autotest sysfs_wake_lock:file { read write open };
allow autotest serial_device:chr_file { open read write ioctl };
allow autotest tty_device:chr_file { open read write ioctl getattr };
allow autotest input_device:dir { open read search };
allow autotest input_device:chr_file { open read ioctl getattr };
allow autotest block_device:dir { search };
allow autotest mmcblk_device:blk_file { open read write ioctl getattr };
allow autotest log_device:chr_file { open read };
allow autotest logcat_exec:file { getattr execute read open execute_no_trans };
allow autotest ctl_bootanim_prop:property_service set;
allow autotest ctl_default_prop:property_service set;
allow autotest sysfs:file { open write };
allow autotest shell_data_file:dir { search open write };
allow autotest rootfs:dir { mounton write add_name};
allow autotest system_data_file:dir { open write read create setattr add_name remove_name rmdir };
allow autotest system_data_file:file { open };
allow autotest system_data_file:sock_file { setattr unlink create write };
allow autotest rootfs:dir { mounton write add_name};
allow autotest prod_file:dir { search open read write remove_name add_name};
allow autotest prod_file:file { open read write lock unlink getattr setattr create rw_file_perms };
allow autotest kernel:system { module_request };
allow autotest kernel:dir { search };
allow autotest kernel:file { getattr read write open };
allow autotest init:dir { search read };
allow autotest init:file { open read getattr };
allow autotest ueventd:dir { search read };
allow autotest ueventd:file { open read getattr };
allow autotest logd:dir { search read };
allow autotest logd:file { open read getattr };
allow autotest vold:dir { search read };
allow autotest vold:file { open read getattr };
allow autotest gatekeeperd:dir { search read };
allow autotest gatekeeperd:file { open read getattr };
allow autotest shell:dir { search read };
allow autotest shell:file { open read getattr };
allow autotest healthd:dir { search read };
allow autotest healthd:file { open read getattr };
allow autotest lmkd:dir { search read };
allow autotest lmkd:file { open read getattr };
allow autotest servicemanager:dir { search read };
allow autotest servicemanager:file { open read getattr };
allow autotest modem_control:dir { search read };
allow autotest modem_control:file { open read getattr };
allow autotest rild:dir { search read };
allow autotest rild:file { open read getattr };
allow autotest batterysrv:dir { search read };
allow autotest batterysrv:file { open read getattr };
allow autotest debuggerd:dir { search read};
allow autotest debuggerd:file { open read getattr };
allow autotest drmserver:dir { search read };
allow autotest drmserver:file { open read getattr };
allow autotest mediaserver:dir { search read};
allow autotest mediaserver:file { open read getattr };
allow autotest installd:dir { search read };
allow autotest installd:file { open read getattr };
allow autotest keystore:dir { search read };
allow autotest keystore:file { open read getattr };
allow autotest wcnd:dir { search read };
allow autotest wcnd:file { open read getattr };
allow autotest slogmodem:dir { search read };
allow autotest slogmodem:file { open read getattr };
allow autotest refnotify:dir { search read };
allow autotest refnotify:file { open read getattr };
allow autotest cp_diskserver:dir { search read };
allow autotest cp_diskserver:file { open read getattr };
allow autotest engpc:dir { search read };
allow autotest engpc:file { open read getattr };

allow autotest wcnd:unix_stream_socket { connectto sendto };
allow autotest bluetooth_data_file:dir { open getattr search write add_name remove_name };
allow autotest bluetooth_data_file:file { create read open write getattr rename };
allow autotest proc_bluetooth_writable:file { open write };
allow autotest wifi_data_file:dir { getattr setattr search create open read write add_name remove_name rmdir };
allow autotest wifi_data_file:file { open read write getattr setattr create unlink append };
allow autotest system_prop:property_service { set };
allow autotest bluetooth_prop:property_service { set };
allow autotest wpa_socket:dir rw_dir_perms;
allow autotest wpa_socket:file { setattr getattr open write };
allow autotest wpa_socket:sock_file { create setattr write unlink };
allow autotest wpa:unix_dgram_socket { sendto };
allow autotest audio_device:dir { search };
allow autotest audio_device:fifo_file { create setattr open write read };
allow autotest audio_device:chr_file { read write };
allow autotest fm_device:chr_file { read write open ioctl };
allow autotest media_data_file:fifo_file { open read write setattr create };
allow autotest media_data_file:dir { open read write search add_name create };
allow autotest media_data_file:file { open read write setattr getattr create };
allow autotest tmpfs:dir {search};
allow autotest devpts:chr_file { open read write };
allow autotest sensors_device:chr_file { open read write getattr ioctl };
allow autotest camera_device:chr_file { open read write getattr ioctl };
allow autotest graphics_device:chr_file { open read write getattr ioctl };
allow autotest autotest_device:chr_file { open read write ioctl };
allow autotest autotest_device:dir { search read };
allow autotest graphics_device:dir { search };
allow autotest autotest:process { execmem };
allow autotest ashmem_device:chr_file { execute };
allow autotest cg_file:dir { search add_name open read write remove_name };
allow autotest cg_file:file { read write open create getattr setattr append unlink };
allow autotest cg_file:sock_file { setattr unlink create write };
allow autotest GPSenseEngine:unix_stream_socket { connectto };
allow autotest gps_device:chr_file { open read write ioctl };
allow autotest radio_device:chr_file { open read write ioctl };

allow autotest gnss_download:dir { search read open };
allow autotest gnss_download:file { setattr getattr open write read };
allow autotest gnss_file:dir { write add_name search create add_name read open };
allow autotest gnss_file:file { create setattr getattr open write read append };
allow autotest wcn_device:chr_file { setattr getattr open write read ioctl };
