# add for Primary Storage Path switch pointer /storage/sdcard1
allow domain tmpfs:lnk_file r_file_perms;

#add for pdkM
allow domain kernel:system module_request;
allow domain log_device:dir search;
allow domain log_device:chr_file { open write };

allow domain oem_file:file r_file_perms;
allow domain oem_file:dir r_dir_perms;
