type engpc, domain;
type engpc_exec, exec_type, file_type;

init_daemon_domain(engpc)

allow engpc serial_device:chr_file { read write open ioctl };
allow engpc sysfs:file write;
allow engpc system_data_file:dir { rw_file_perms add_name create remove_name setattr };
#allow engpc system_data_file:file { rw_file_perms create setattr unlink rename };
allow engpc system_data_file:fifo_file { open read write};
allow engpc audio_device:chr_file { ioctl open read write create };
allow engpc audio_device:dir { search };
allow engpc engpc:netlink_kobject_uevent_socket { create setopt bind read };
allow engpc prod_file:dir { search open read write remove_name add_name create getattr};
allow engpc prod_file:file { open read write lock unlink getattr setattr create rw_file_perms };
allow engpc engpc:capability { net_admin chown fsetid sys_module net_raw fowner };
allow engpc engpc:capability2 { syslog };

allow engpc slog_device:chr_file { open read write };
allow engpc radio_device:chr_file { read write open };
allow engpc property_socket:sock_file write;
allow engpc init:unix_stream_socket connectto;
allow engpc shell_exec:file { read open execute execute_no_trans };

allow engpc system_prop:property_service set;
allow engpc system_file:file execute_no_trans;

allow engpc logdr_socket:sock_file write;
allow engpc logd:unix_stream_socket connectto;
allow engpc block_device:dir search;
allow engpc mmcblk_device:blk_file { open read write };
allow engpc efuse_device:chr_file {open read write};
allow engpc engpc:capability { sys_nice dac_override dac_read_search sys_boot };
allow engpc property_data_file:dir { search getattr};
allow engpc property_data_file:file { getattr};
allow engpc system_radio_prop:property_service set;
allow engpc ctl_default_prop:property_service set;
allow engpc vfat:dir { search add_name create write };
allow engpc bm_device:chr_file { open write ioctl};
allow engpc vfat:file { create open read write };
allow engpc tty_device:chr_file { read write open };
allow engpc cache_file:dir { write open create read add_name remove_name rmdir };
allow engpc cache_file:file { write open create read unlink };
allow engpc proc_sysrq:file { write open create read };
allow engpc gps_device:chr_file { open read write ioctl };
allow engpc system_data_file:sock_file { unlink setattr write create };
allow engpc engpc:netlink_socket { create bind connect listen accept write read setopt getopt getattr};
allow engpc engpc:udp_socket { create ioctl };
allow engpc wifi_data_file:dir { search getattr read};
allow engpc wifi_data_file:file { read getattr open };


type_transition engpc wifi_data_file:sock_file system_wpa_socket;
type_transition engpc wpa_socket:sock_file system_wpa_socket;
allow engpc wpa_socket:dir rw_dir_perms;
allow engpc system_wpa_socket:sock_file create_file_perms;

allow engpc wpa_socket:sock_file unlink;

unix_socket_send(engpc, wpa, wpa)
unix_socket_send(wpa, wpa, engpc)

unix_socket_send(engpc, netd, netd)
unix_socket_connect(engpc, netd, netd)

allow engpc wifi_data_file:dir create_dir_perms;
allow engpc wifi_data_file:file create_file_perms;

allow engpc self:capability { setuid setgid };

allow engpc self:netlink_route_socket { create_socket_perms nlmsg_read nlmsg_write};

allow engpc kernel:system { module_request };
allow engpc bluetooth_data_file:dir { open getattr search write add_name remove_name };
allow engpc bluetooth_data_file:file { create read open write getattr unlink setattr rename };
allow engpc wcnd:unix_stream_socket { connectto };
allow engpc refnotify:unix_stream_socket { connectto read write };
allow engpc hci_attach_dev:chr_file { open read write ioctl };
allow engpc bluetooth_prop:property_service { set };

allow engpc mediaserver:binder { call transfer };
allow engpc servicemanager:binder call;
allow engpc proc_bluetooth_writable:file { open write };

allow engpc config_prop:property_service set;
allow engpc mmcblk_device:blk_file { read getattr open };

allow engpc wcn_device:chr_file { open read write ioctl };
allow engpc engpc_data:dir { add_name setattr getattr create search open read remove_name rmdir write unlink };
allow engpc engpc_data:file { setattr getattr create open read rename write unlink append lock };
allow engpc logcat_exec:file { getattr execute read open execute_no_trans };
allow engpc log_device:chr_file { read };
allow engpc powerctl_prop:property_service { set };

allow engpc media_data_file:dir { open write read search add_name };
allow engpc media_data_file:fifo_file { write read open };
allow engpc media_data_file:file { create open read write setattr getattr };

allow engpc cg_file:dir { search add_name open read write remove_name };
allow engpc cg_file:file { read write open create getattr setattr append unlink };
allow engpc cg_file:sock_file { setattr unlink create write };
allow engpc GPSenseEngine:unix_stream_socket { connectto };
allow engpc gnss_file:dir { create search add_name open read write remove_name };
allow engpc gnss_file:file { read write open create getattr setattr append unlink };
