type factorytest, domain;
type factorytest_exec, exec_type, file_type;
init_daemon_domain(factorytest)

allow factorytest mediaserver:process signal;

allow factorytest ashmem_device:chr_file execute;
allow factorytest vfat :dir { read write add_name create remove_name open search mounton };
allow factorytest vfat :file { read write rename create open };
allow factorytest vfat :filesystem { mount };
allow factorytest init:udp_socket { ioctl create setopt getopt bind write read };
allow factorytest port:udp_socket name_bind;
allow factorytest port:tcp_socket name_bind;
allow factorytest node:udp_socket node_bind;
allow factorytest node:tcp_socket node_bind;
allow factorytest shell_exec:file { execute read open execute_no_trans };
allow factorytest prod_file:dir { search open write add_name create setattr };
allow factorytest prod_file:file { open write read create getattr };
allow factorytest graphics_device:dir { search };
allow factorytest input_device:dir { open read search };
allow factorytest input_device:chr_file { open read ioctl };
allow factorytest graphics_device:chr_file { open read write ioctl };
allow factorytest system_file:file { execute_no_trans };
allow factorytest bluetooth_data_file:dir { search getattr open write add_name remove_name };
allow factorytest bluetooth_data_file:file { open read write create getattr setattr rename unlink };
allow factorytest factorytest:capability { dac_override sys_nice fowner setgid setuid fsetid sys_module sys_admin chown net_admin net_raw sys_boot };
allow factorytest factorytest:capability2 { block_suspend syslog };
allow factorytest factorytest:process { execmem };
allow factorytest factorytest:netlink_route_socket { create read bind write nlmsg_write };
allow factorytest factorytest:netlink_socket { write read create getopt setopt bind getattr };
allow factorytest factorytest:udp_socket { create ioctl };
allow factorytest factorytest:tcp_socket { create bind listen setopt };
allow factorytest factorytest:packet_socket { create ioctl bind read };
allow factorytest tty_device:chr_file { open read write ioctl getattr };
allow factorytest gps_device:chr_file { open read write ioctl };
allow factorytest wifi_data_file:dir { getattr setattr search create open read write add_name remove_name rmdir };
allow factorytest wifi_data_file:file { open read write getattr setattr create unlink append };
allow factorytest wifi_data_file:chr_file { getattr setattr read write };
allow factorytest wifi_data_file:sock_file { create setattr unlink open write };
allow factorytest wpa_socket:dir { setattr getattr search write add_name remove_name rmdir};
allow factorytest wpa_socket:file { setattr getattr open write };
allow factorytest wpa_socket:sock_file { create setattr write unlink };
allow factorytest wpa_exec:file { execute getattr execute_no_trans open read };
allow factorytest block_device:dir { search };
allow factorytest mmcblk_device:blk_file { open read write ioctl getattr };
allow factorytest system_data_file:dir { open write read create setattr add_name remove_name rmdir };
allow factorytest system_data_file:file { open };
allow factorytest system_data_file:sock_file { setattr unlink create write };
allow factorytest cg_file:dir { search add_name write remove_name };
allow factorytest cg_file:file { read write open create getattr setattr append };
allow factorytest cg_file:sock_file { setattr unlink create write };
allow factorytest cg_file:unix_stream_socket { connectto };
allow factorytest sysfs_wake_lock:file { open read write };
allow factorytest shell_data_file:dir { search open write };
allow factorytest rootfs:dir { mounton write add_name};
allow factorytest sysfs:file { open write };
allow factorytest audio_device:dir { search };
allow factorytest audio_device:chr_file { open read write ioctl };
allow factorytest sensors_device:chr_file { open read write ioctl };
allow factorytest property_socket:sock_file { open read write };
allow factorytest init:unix_stream_socket { connectto };
allow factorytest proc_bluetooth_writable:file { open write };
allow factorytest camera_device:chr_file { open read write ioctl };
allow factorytest serial_device:chr_file { open read write ioctl };
allow factorytest kernel:system { module_request };
allow factorytest wcnd:unix_stream_socket { connectto };
allow factorytest ctl_default_prop:property_service { set };
allow factorytest media_data_file:dir { search write add_name };
allow factorytest media_data_file:file { read write open create getattr setattr };
allow factorytest cache_file:dir { read write open add_name create };
allow factorytest cache_file:file { create open write };
allow factorytest proc_sysrq:file { open write };
allow factorytest hci_attach_dev:chr_file{ read write open ioctl };
allow factorytest radio_device:chr_file { read write open ioctl };
allow factorytest bluetooth_prop:property_service{ set };
allow factorytest unlabeled:dir { search };
allow factorytest unlabeled:file { open read getattr };
allow factorytest wcn_device:chr_file{ read write open ioctl };
allow factorytest system_file:file { execmod };
allow factorytest mmitest_file:dir { search create open write add_name remove_name setattr };
allow factorytest mmitest_file:file { create read write open rename setattr getattr unlink append };
allow factorytest logcat_exec:file { getattr execute read open execute_no_trans };
allow factorytest log_device:chr_file { open read };
allow factorytest fm_device:chr_file { open read write ioctl };

allow healthd device:dir { write };

#allow healthd healthd:capability { mknod };
allow factorytest input_device:chr_file { getattr };
allow factorytest audio_device:fifo_file { open write };

allow factorytest GPSenseEngine:unix_stream_socket { connectto };
allow factorytest system_prop:property_service { set };
allow factorytest wpa_socket:dir { open read };
allow factorytest wpa:unix_dgram_socket { sendto };

allow factorytest gnss_file:dir { create search add_name open read write remove_name };
allow factorytest gnss_file:file { read write open create getattr setattr append unlink };
