allow platform_app init:unix_stream_socket connectto;
allow platform_app rild:unix_stream_socket connectto;
allow platform_app srtd:unix_stream_socket connectto;
allow platform_app srt_socket:sock_file write;
allow platform_app hprofs_file:dir { open create read write getattr search add_name remove_name };
allow platform_app hprofs_file:file { open create read write getattr unlink };
allow platform_app slogmodem:unix_stream_socket { connectto read write };
allow platform_app fm_device:chr_file { read write open ioctl }; 
allow platform_app wcnd:unix_stream_socket { connectto sendto };
allow platform_app slogmodem:unix_stream_socket { connectto sendto };
allow platform_app app_data_file:file { execute };
allow platform_app system_app_data_file:file { open read write };
allow platform_app mlog_file:file rw_file_perms;
allow platform_app mlog_file:dir create_dir_perms;
