allow priv_app device:dir { open read };

allow priv_app cache_file:fifo_file getattr;
allow priv_app cache_private_backup_file:dir getattr;
allow priv_app configfs:dir read;
allow priv_app efs_file:dir getattr;
allow priv_app mnt_media_rw_file:dir getattr;
allow priv_app nfc_data_file:dir getattr;
allow priv_app prod_file:dir getattr;
allow priv_app radio_data_file:dir getattr;
allow priv_app system_app_data_file:dir getattr;
allow priv_app abt_pers_data_file:dir getattr;
