typeattribute rild mlstrustedsubject;

allow rild spipe_device:chr_file { read write open };
allow rild radio_device:chr_file { read write open };
allow rild prod_file:dir search;
allow rild devpts:chr_file { read write open ioctl setattr };
allow rild ctl_default_prop:property_service set;
allow rild system_prop:property_service set;
allow rild device:dir { write add_name };
allow rild device:lnk_file create;
allow rild proc:file { write read };
allow rild mmcblk_device:blk_file { read write open };
allow rild block_device:dir search;
allow rild init:dir search;
allow rild init:file { write read open};
allow rild kernel:dir search;
allow rild kernel:file { write read open };
allow rild sdcardd:dir search;
allow rild sdcardd:file { write read open };
allow rild logd:dir search;
allow rild logd:file { write read open };
allow rild healthd:dir search;
allow rild healthd:file { write read open };
allow rild lmkd:dir search;
allow rild lmkd:file { write read open };
allow rild servicemanager:dir search;
allow rild servicemanager:file { write read open };
allow rild vold:dir search;
allow rild vold:file { write read open };
allow rild debuggerd:dir search;
allow rild debuggerd:file { write read open };
allow rild surfaceflinger:dir search;
allow rild surfaceflinger:file { write read open };
allow rild batterysrv:dir search;
allow rild batterysrv:file { write read open };
allow rild phasecheckserver:dir search;
allow rild phasecheckserver:file { write read open };
allow rild refnotify:dir search;
allow rild refnotify:file { write read open };
allow rild engpc:dir search;
allow rild engpc:file { write read open };
allow rild netd:dir search;
allow rild netd:file { write read open };
allow rild drmserver:dir search;
allow rild drmserver:file { write read open };
allow rild mediaserver:dir search;
allow rild mediaserver:file { write read open };
allow rild installd:dir search;
allow rild installd:file { write read open };
allow rild keystore:dir search ;
allow rild keystore:file { write read open };
allow rild wcnd:dir search;
allow rild wcnd:file { write read open };
allow rild init:dir search ;
allow rild init:file { write read open };
allow rild srtd:dir search;
allow rild srtd:file { write read open };
allow rild zygote:dir search;
allow rild zygote:file { write read open };
allow rild system_server:dir search ;
allow rild system_server:file { write read open };
allow rild platform_app:dir search;
allow rild platform_app:file { write read open };
allow rild untrusted_app:dir search;
allow rild untrusted_app:file { write read open };
allow rild system_app:dir search ;
allow rild system_app:file { write read open };
allow rild radio:file { write read open };
allow rild radio:dir search;
allow rild adbd:dir search;
allow rild adbd:file { write read open };
allow rild ueventd:dir search;
allow rild ueventd:file { write read open };
allow rild shell:dir search;
allow rild shell:file  { write read open };
allow rild device:dir remove_name;
allow rild device:lnk_file unlink;
allow rild tty_device:chr_file { read write open };
allow rild slog_device:chr_file { read write open };
allow rild system_data_file:dir {write add_name };
allow rild dhcp_data_file:dir search;
allow rild dhcp_data_file:file { open read getattr };
allow rild download:dir search;
allow rild download:file { read open};
allow rild cp_diskserver:dir search;
allow rild cp_diskserver:file { read open};
userdebug_or_eng(`
allow rild su:dir search;
allow rild su:file { read };
allow rild perfprofd:dir search;
allow rild perfprofd:file { write read open };
')
allow rild gatekeeperd:dir search;
allow rild gatekeeperd:file { write read open };
# modemd / slogmodem communication
allow rild slogmodem:dir { search };
allow rild slogmodem:file { open read };
allow rild modem_control:unix_stream_socket { read write connectto sendto };
allow rild modem_control:dir search;
allow rild modem_control:file { write read open};
allow rild modemdriver_vpad:dir search;
allow rild modemdriver_vpad:file { read open};
allow rild aprd:dir search;
allow rild aprd:file {read open};
allow rild slogd:dir search;
allow rild ylog:dir search;
allow rild slogd:file {read open};
allow rild ylog:file {read open};
