allow servicemanager zygote:dir search;
allow servicemanager zygote:file { read open };
allow servicemanager zygote:process getattr;

allow servicemanager engpc:dir search;
allow servicemanager engpc:file { read open };
allow servicemanager engpc:process getattr;

allow servicemanager slogd:dir search;
allow servicemanager slogd:file {open read};
allow servicemanager slogd:process getattr;
allow servicemanager servicemanager:capability sys_nice;
allow servicemanager phasecheckserver:dir search;
allow servicemanager phasecheckserver:file { read open };
allow servicemanager phasecheckserver:process getattr;
