allow system_app prod_file:dir create_dir_perms;
allow system_app prod_file:{file lnk_file} create_file_perms;
allow system_app shell_data_file:dir { search read write };
allow system_app shell_data_file:file { open read write };
allow system_app shell_data_file:sock_file { open read write };
allow system_app cache_file:dir { create add_name write };
allow system_app cache_file:file { create open write };
allow system_app block_device:dir search;

allow system_app radio_prop:property_service set;

allow system_app sysfs_devices_system_cpu:file write;
allow system_app wcnd:unix_stream_socket { connectto sendto };
allow system_app rild:unix_stream_socket { connectto sendto };
allow system_app slogmodem:unix_stream_socket { connectto read write };
allow system_app efuse_device:chr_file { open read write };
allow system_app ctl_default_prop:property_service set;
allow system_app hprofs_file:dir { open create read write getattr search add_name remove_name };
allow system_app hprofs_file:file { open create read write getattr unlink };
allow system_app srtd:dir { search getattr read open };
allow system_app srtd:file { getattr read open };
allow system_app oem_file:file r_file_perms;
allow system_app oem_file:dir r_dir_perms;
allow system_app slog_file:dir { getattr read open };
allow system_app slogd:unix_stream_socket connectto;

allow system_app apr_data_file:file { create open read write unlink getattr append };
allow system_app apr_data_file:dir { search add_name remove_name write };

allow system_app kernel:dir { search getattr read open };
allow system_app init:dir { search getattr read open };
allow system_app init:file { getattr read open };
allow system_app kernel:file {  getattr read open };
allow system_app sdcardd:dir { search getattr read open };
allow system_app sdcardd:file { getattr read open };
allow system_app ueventd:dir { search getattr read open };
allow system_app vold:dir { search getattr read open };
allow system_app ueventd:file { getattr read open };
allow system_app vold:file { getattr read open };
allow system_app rild:dir { search getattr read open };
allow system_app rild:file { getattr read open };
allow system_app batterysrv:dir { search getattr read open };
allow system_app batterysrv:file { getattr read open };
allow system_app servicemanager:dir { search getattr read open };
allow system_app servicemanager:file { getattr read open };
allow system_app surfaceflinger:dir { search getattr read open };
allow system_app surfaceflinger:file { getattr read open };
allow system_app slogd:dir { search getattr read open };
allow system_app slogd:file { getattr read open };
allow system_app shell:dir { search getattr read open };
allow system_app shell:file { getattr read open };
allow system_app netd:dir { search getattr read open };
allow system_app netd:file { getattr read open };
allow system_app debuggerd:dir { search getattr read open };
allow system_app debuggerd:file { getattr read open };
allow system_app drmserver:dir { search getattr read open };
allow system_app drmserver:file { getattr read open };
allow system_app mediaserver:dir { search getattr read open };
allow system_app mediaserver:file { getattr read open };
allow system_app installd:dir { search getattr read open };
allow system_app installd:file { getattr read open };
allow system_app wcnd:dir { search getattr read open };
allow system_app wcnd:file { getattr read open };
allow system_app srtd:dir { search getattr read open };
allow system_app srtd:file { getattr read open };
allow system_app adbd:dir { search getattr read open };
allow system_app adbd:file { getattr read open };
allow system_app dex2oat:dir { search getattr read open };
allow system_app dex2oat:file { getattr read open };
allow system_app fsck:dir { search getattr read open };
allow system_app fsck:file { getattr read open };
allow system_app refnotify:dir { search getattr read open };
allow system_app refnotify:file { getattr read open };
allow system_app slogmodem:dir { search getattr read open };
allow system_app slogmodem:file { getattr read open };
allow system_app domain:dir { search getattr read open };
allow system_app domain:file { getattr read open };
allow system_app bluetooth:dir { search getattr read open };
allow system_app bluetooth:file { getattr read open };
allow system_app download:dir { search getattr read open };
allow system_app download:file { getattr read open };
allow system_app hostapd:dir { search getattr read open };
allow system_app hostapd:file { getattr read open };
allow system_app bootanim:dir { search getattr read open };
allow system_app bootanim:file { getattr read open };
allow system_app cp_diskserver:dir { search getattr read open };
allow system_app cp_diskserver:file { getattr read open };
allow system_app engpc:dir { search getattr read open };
allow system_app engpc:file { getattr read open };
allow system_app wpa:dir { search getattr read open };
allow system_app wpa:file { getattr read open };
allow system_app isolated_app:dir { search getattr read open };
allow system_app isolated_app:file { getattr read open };
allow system_app radio:dir { search getattr read open };
allow system_app radio:file { getattr read open };
allow system_app zram:dir { search getattr read open };
allow system_app zram:file { getattr read open };
allow system_app device:dir { search getattr read open };
allow system_app device:file { getattr read open };
allow system_app recovery:dir { search getattr read open };
allow system_app recovery:file { getattr read open };
allow system_app zygote:dir { search getattr read open };
allow system_app zygote:file { getattr read open };
allow system_app platform_app:dir { search getattr read open };
allow system_app platform_app:file { getattr read open };
allow system_app untrusted_app:dir { search getattr read open };
allow system_app untrusted_app:file { getattr read open };
allow system_app fm_device:chr_file { read write open ioctl };
allow system_app gatekeeperd:dir { search getattr read open };
allow system_app gatekeeperd:file { getattr read open };
allow system_app healthd:dir { search getattr read open };
allow system_app healthd:file { getattr read open };
allow system_app lmkd:dir { search getattr read open };
allow system_app lmkd:file { getattr read open };
allow system_app logd:dir { search getattr read open };
allow system_app logd:file { getattr read open };
allow system_app keystore:dir { search getattr read open };
allow system_app keystore:file { getattr read open };
allow system_app toolbox:dir { search getattr read open };
allow system_app toolbox:file { getattr read open };
userdebug_or_eng(`
    allow system_app perfprofd:file { getattr read open };
    allow system_app perfprofd:dir { search getattr read open };
')
allow system_app phasecheckserver:binder call;
typeattribute system_app mlstrustedsubject;
allow system_app fm_device:chr_file { read write open ioctl };

allow system_app cg_file:dir { search add_name open read write remove_name };
allow system_app cg_file:file { read write open create getattr setattr append unlink };
allow system_app cg_file:sock_file { setattr unlink create write };
allow system_app gnss_file:dir { create search add_name open read write remove_name };
allow system_app gnss_file:file { read write open create getattr setattr append unlink };
allow system_app gpsd:unix_stream_socket { connectto sendto getattr read write };
allow system_app cmd_services:unix_stream_socket { connectto };
allow system_app mmcblk_device:blk_file { open getattr };
allow system_app engpc:unix_stream_socket { read write connectto sendto };
allow system_app thermald:unix_stream_socket { connectto };
allow system_app mlog_file:dir create_dir_perms;
allow system_app mlog_file:file rw_file_perms;
allow system_app ylog:unix_stream_socket {connectto};
