type thermald, domain;
type thermald_exec, exec_type, file_type;
init_daemon_domain(thermald)

allow thermald tmpfs:file write;
allow thermald property_socket:sock_file write;
allow thermald init:unix_stream_socket { connectto };
allow thermald system_data_file:file { open read };
allow thermald sysfs:file write;
allow thermald system_prop:property_service set;
allow thermald powerctl_prop:property_service set;
