
/dev/sprd_dma_copy      0660     system      audio
/dev/sprd_scale         0660     system      audio
/dev/sprd_rotation      0660     system      audio
/dev/sprd_dcam          0660     system      audio
/dev/sprd_gsp           0777     system      audio
/dev/sprd_isp           0660     system      audio
/dev/sprd_vsp           0660     system      audio
/dev/sprd_jpg           0660     system      audio
/dev/sprd_vpp           0660     system      audio
/dev/sprd_coda7l        0660     system      audio
/dev/sprd_sensor        0660     system      audio
/dev/sprd_image         0660     system      audio
/dev/video0             0660     system      audio
/dev/ion                0666     system      graphics
/dev/mali0              0666     system      graphics

/dev/stty_td*           0660     radio       system
/dev/stty_w*            0660    radio       system
/dev/slog_td            0660     system      system
/dev/spipe_td0          0660     system      system
/dev/spipe_td1          0660     system      system
/dev/spipe_td2          0660     system      system
/dev/spipe_td3          0660     system      system
/dev/spipe_td4          0660     media       audio
/dev/spipe_td5          0660     radio      system
/dev/spipe_td6          0660     media       audio
/dev/spipe_td7          0660     system      system
/dev/spipe_td8          0660     system      system
/dev/spipe_td*          0666     system      system
/dev/stty_w*            0660     radio       system
/dev/slog_w             0660     system      system
/dev/spipe_w0           0660     system      system
/dev/spipe_w1           0660     system      system
/dev/spipe_w2           0660     system      system
/dev/spipe_w3           0660     system      system
/dev/spipe_w4           0660     media       audio
/dev/spipe_w5           0660     radio      system
/dev/spipe_w6           0660     media       audio
/dev/spipe_w8           0660     system      system
/dev/spipe_w14          0660      media       audio
/dev/gnss_dbg           0660     system      system
/dev/slog_gnss          0660     system      system
/dev/slog_wcn           0660     system      system
/dev/spipe_wcn*         0660     system      system
/dev/vbpipe1            0660     system  system
/dev/vbpipe0            0660     system  system
/dev/vbpipe6            0660     media   audio
/dev/stty_lte*            0660     radio       system
/dev/slog_lte             0660     system      system
/dev/sdiag_lte             0660     system      system
/dev/spipe_lte*           0660     system      system
/dev/spipe_lte5           0660     radio      system
/dev/spipe_lte4         0660     media       audio
/dev/spipe_lte6         0660     media       audio
/dev/spipe_lte14         0660     media      audio

/dev/stty_gge*            0660     radio       system
/dev/slog_gge             0660     system      system
/dev/spipe_gge*           0660     system      system



/dev/ubi0_*             0660     system      system
/dev/block/mmcblk0p*    0660     system      system
/dev/vser               0660     system      system
/dev/ttyHS0             0600     bluetooth   bluetooth
/dev/ttyGS*             0660     system      system
/dev/gpsctl            0660     system  system
/dev/ttyS*             0660     system  system

/dev/Trout_FM           0660     system      audio
/dev/ecompass_ctrl      0666     system      compass
/dev/mxc622x            0666     system      input
/dev/mmc31xx            0666     system      compass
/dev/al3006_pls         0666     system      system
/dev/lis3dh_acc         0660     system      system
/dev/akm8975_dev        0660     system      system
/dev/ts0710mux*         0660     radio       system
/dev/ltr_558als         0660     system      system
/dev/epl2182_pls        0660     system      system
/dev/sttybt0            0660     bluetooth   system
/dev/board_type         0660     bluetooth   system
/dev/ttyV0		0660     system      system
/dev/ttyV1		0660     system      system
/dev/sdiomux*           0660     radio       system
/dev/spimux*            0660     radio       system
/dev/spimux21           0660     media       audio
/dev/spimux24           0660     media       audio
/dev/spimux25           0660     media       audio
/dev/spimux26           0660     media       audio
/dev/spimux27           0660     media       audio
/dev/spimux28           0660     media       audio
/dev/spimux29           0660     media       audio
/dev/spimux30           0660     media       audio
/dev/sdiomux21          0660     media       audio
/dev/sdiomux24          0660     media       audio
/dev/sdiomux25          0660     media       audio
/dev/sdiomux26          0660     media       audio
/dev/sdiomux27          0660     media       audio
/dev/sdiomux28          0660     media       audio
/dev/sdiomux29          0660     media       audio
/dev/sdiomux30          0660     media       audio
/dev/akm8963_dev        0660     system      system
/dev/download		0660     system      system
/dev/slog_wcn           0660     system      system
/dev/power_ctl		0660     system      system

# Google FRP
/dev/block/platform/sdio_emmc/by-name/PERSISTENT    0660    system    system
