import /init.wifi.rc

on init
    export LD_SHIM_LIBS /system/bin/gpsd|libgpsshim.so:/system/lib/libims_engine.so|libimsshim.so

    # SEC_SELINUX
    # for audit message
    chown system system /proc/avc_msg
    chmod 0660 /proc/avc_msg
    restorecon /dev/pipes

    mkdir /efs 0771 radio system
    mkdir /efs/imei 0775 radio system

    

on early-boot
    chmod 660 /proc/cpgge/cp_crash
    chmod 660 /proc/cpgge/wdtirq
    chmod 660 /proc/cpgge/stop
    chmod 660 /proc/cpgge/start
    chmod 660 /proc/cpgge/modem
    chmod 660 /proc/cpgge/dsp

    chown system root /proc/cpgge/cp_crash
    chown system root /proc/cpgge/wdtirq
    chown system root /proc/cpgge/stop
    chown system root /proc/cpgge/start
    chown system root /proc/cpgge/modem
    chown system root /proc/cpgge/dsp

    chmod 660 /proc/cptl/cp_crash
    chmod 660 /proc/cptl/wdtirq
    chmod 660 /proc/cptl/stop
    chmod 660 /proc/cptl/start
    chmod 660 /proc/cptl/modem
    chmod 660 /proc/cptl/tgdsp
    chmod 660 /proc/cptl/ldsp
    chmod 660 /proc/cptl/warm
    chmod 660 /proc/cptl/fixnv
    chmod 660 /proc/cptl/runnv

    chown system root /proc/cptl/cp_crash
    chown system root /proc/cptl/wdtirq
    chown system root /proc/cptl/stop
    chown system root /proc/cptl/start
    chown system root /proc/cptl/modem
    chown system root /proc/cptl/ldsp
    chown system root /proc/cptl/tgdsp
    chown system root /proc/cptl/warm
    chown system root /proc/cptl/fixnv
    chown system root /proc/cptl/runnv

    # Remove symlinks to avoid issues with migrate after nandroid restores
    # Will be recreated at end of boot
    rm /data/data/com.android.providers.telephony/databases/telephony.db
    rm /data/data/com.android.providers.telephony/shared_prefs/preferred-apn.xml

on boot
    chown root system /sys/module/pomemr/parameters/freepage_order
    chmod 0664 /sys/module/pomemr/parameters/freepage_order

    chown system radio /sys/class/camera/flash/rear_flash

    # permissions for Input booster
    chmod 0660 /sys/class/input_booster/level
    chown system radio /sys/class/input_booster/level
    chmod 0660 /sys/class/input_booster/head
    chown system radio /sys/class/input_booster/head
    chmod 0660 /sys/class/input_booster/tail
    chown system radio /sys/class/input_booster/tail

 # permission for CHARGING
   chown system radio /sys/class/power_supply/battery/batt_reset_soc
   chown system radio /sys/class/power_supply/battery/batt_slate_mode
   chown system radio /sys/class/power_supply/battery/factory_mode
   chown system radio /sys/class/power_supply/battery/siop_level
   chown system radio /sys/class/power_supply/battery/wc_enable
   chown system radio /sys/class/power_supply/battery/update
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
   chown system radio /sys/class/power_supply/battery/talk_wcdma
   chown system radio /sys/class/power_supply/battery/talk_gsm
   chown system radio /sys/class/power_supply/battery/call
   chown system radio /sys/class/power_supply/battery/data_call
   chown system radio /sys/class/power_supply/battery/gps
   chown system radio /sys/class/power_supply/battery/wifi
   chown system radio /sys/class/power_supply/battery/lte
   chown system radio /sys/class/power_supply/battery/lcd
   chmod 0664 /sys/class/power_supply/battery/charge_otg_control
   chown media sdcard_rw /sys/class/power_supply/battery/store_mode

    setprop persist.sys.cmdservice.enable disable

    write /sys/block/mmcblk0/queue/scheduler noop

    # for BT MAC address
    mkdir /efs/bluetooth 0775 radio system
    # if already exist
    chown radio system /efs/bluetooth
    chmod 0775 /efs/bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown radio net_bt_stack /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr

#lun
    write /sys/class/android_usb/android0/f_mass_storage/board_support_luns 1

# SSWAP
    write /proc/sys/vm/swappiness 130

# bluetooth
    chmod 660 /dev/ttyS0
    chmod 660 /proc/bluetooth/sleep/proto
    chmod 660 /sys/class/rfkill/rfkill0/state
    chmod 660 /sys/class/rfkill/rfkill0/type
    chmod 660 /proc/bluetooth/sleep/btwrite
    chmod 660 /sys/devices/70000000.uart/uart_conf
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /dev/ttyS0

#for Bluesleep
    chown bluetooth system /proc/bluetooth/sleep/proto
    chown bluetooth system /proc/bluetooth/sleep/btwrite
    chown bluetooth system /sys/devices/70000000.uart/uart_conf
    chown bluetooth shell /productinfo/connectivity_configure.ini
    chown bluetooth bluetooth /system/etc/connectivity_configure.ini

#for wifi
    chmod 666 /productinfo/connectivity_configure.ini
    chmod 666 /system/etc/connectivity_configure.ini

# Broadcom GPS
    chown root system /dev/ttyS3
    chmod 0660 /dev/ttyS3
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value

# make sure data_system dir and perms are properly set.
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps

# delete gps Factory file
    rm /data/gps_started
    rm /data/glonass_started
    rm /data/smd_started
    rm /data/sv_cno.info

# OTG_TEST
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

#touchkey
    chown system system /sys/class/sec/sec_touchkey/touchkey_back
    chown system system /sys/class/sec/sec_touchkey/touchkey_recent
    chown system system /sys/class/sec/sec_touchkey/touchkey_threshold
    chown system system /sys/class/sec/sec_touchkey/touchkey_raw_recent
    chown system system /sys/class/sec/sec_touchkey/touchkey_raw_back
    chown system system /sys/class/sec/sec_touchkey/touchkey_firm_update

# Symlink telephony.db and preferred-apn.xml
    mkdir /data/data/com.android.providers.telephony 0700 radio radio
    mkdir /data/data/com.android.providers.telephony/databases 0700 radio radio
    mkdir /data/data/com.android.providers.telephony/shared_prefs 0700 radio radio

    symlink /data/user_de/0/com.android.providers.telephony/databases/telephony.db /data/data/com.android.providers.telephony/databases/telephony.db
    symlink /data/user_de/0/com.android.providers.telephony/shared_prefs/preferred-apn.xml /data/data/com.android.providers.telephony/shared_prefs/preferred-apn.xml


on post-fs-data
    # sec_efs_file
    mkdir /efs/sec_efs 0775 radio system

    # Create dump dir and collect dumps.
    # Do this before we mount cache so eventually we can use cache for
    # storing dumps on platforms which do not have a dedicated dump partition.
    mkdir /data/dontpanic 0750 root log

    # Collect apanic data, free resources and re-arm trigger
    copy /proc/apanic_console /data/dontpanic/apanic_console
    chown root log /data/dontpanic/apanic_console
    chmod 0640 /data/dontpanic/apanic_console

    copy /proc/apanic_threads /data/dontpanic/apanic_threads
    chown root log /data/dontpanic/apanic_threads
    chmod 0640 /data/dontpanic/apanic_threads

    write /proc/apanic_console 1

    # SEC_SELINUX
    mkdir /data/misc/audit 0775 audit system 

    /* SPRD: For saving the hprof */
    mkdir /data/misc/hprofs 0770 system system

    # SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    mkdir /data/anr 0775 system system
    chown system system /data/anr
    chmod 0775 /data/log
    chmod 0775 /data/anr
    restorecon /data/log
    restorecon /data/anr

    # NFC: create data/nfc for nv storage
    mkdir /data/nfc 770 nfc nfc
    mkdir /data/nfc/param 770 nfc nfc

    # MTP device permission
    chmod 0660 /dev/mtp_usb
    chown system mtp /dev/mtp_usb
    mkdir /dev/socket/mtp 0770 system mtp

    # MUIC
    chown system radio /sys/class/sec/switch/uart_en

# [ SEC_MM_DRM
    # OMA DB directory creation
    mkdir /data/system/databases 0775
    chown system system /data/system/databases
    chmod 0775 /data/system/databases

    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm

    restorecon -R /efs
    restorecon -R /carrier
    restorecon_recursive /data/misc/keystore
    restorecon_recursive /data/property
    restorecon_recursive /data/security
# ]

on post-fs
## Samsung ODE >>>
    mount tmpfs tmpfs /mnt/secure private rec
    mount tmpfs tmpfs /mnt/secure/asec shared rec
## Samsung ODE <<<

# set LMK watermark as {12M,16M,18M,26M,34M,42M}
on property:lmk.autocalc=false
    write /sys/module/lowmemorykiller/parameters/adj 0,1,3,9,11,15
    write /sys/module/lowmemorykiller/parameters/minfree 3072,4096,4608,6656,8704,10752
    setprop sys.lmk.adj "0,1,3,9,11,15"
    setprop sys.lmk.minfree "3072,4096,4608,6656,8704,10752"

# chown for engineermode
chown system system /sys/module/smsg/parameters/assert_trigger
chown system system /sys/power/avs_log

# Activate Background Compaction
on property:sys.sysctl.compact_memory=1
    setprop sys.sysctl.compact_memory 0
    start compact_memory

on property:persist.sys.cmdservice.enable=enable
    start cmd_services
on property:persist.sys.cmdservice.enable=disable
    stop  cmd_services

on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/scheduler cfq

# Activate page order tracing
on property:sys.sysctl.porder_trace=*
    write /proc/sys/vm/porder_trace ${sys.sysctl.porder_trace}

# Contains the requested page orders if tracing is enabled
on property:sys.sysctl.app_order=*
    write /proc/sys/vm/app_order ${sys.sysctl.app_order}

# write the page order to enable background reclaim for page orders
on property:sys.sysctl.freepage_orders=*
    write  /sys/module/pomemr/parameters/freepage_order ${sys.sysctl.freepage_orders}

# for Wi-Fi only models
on property:ro.radio.noril=yes
    stop ril-daemon

# SSWAP
service swapon /sbin/sswap -s
    class core
    user root
    group root
    oneshot

service compact_memory /sbin/bgcompact
    user root
    seclabel u:r:sswap:s0
    oneshot
    disabled

service healthd-charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0

#override
service media /system/bin/mediaserver
    class main
    user media
    group system audio camera inet net_bt net_bt_admin net_bw_acct drmrpc sdcard_r shell mediadrm media_rw radio
    ioprio rt 4

service audioserver /system/bin/audioserver
    class main
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct system shell radio
    ioprio rt 4

