import /init.board.rc
import /init.sc8830.usb.rc
import /init.sc8830_ss.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

    # set core dump resource limit
    setrlimit 4 2147483647 2147483647

    # coredump file will not be generated in release version
    write /proc/sys/kernel/core_pattern /dev/null
# radio pipe
    mkdir /dev/rpipe 0550 radio radio
    pipe 666 /dev/rpipe/ril.vt.0
    pipe 666 /dev/rpipe/ril.vt.1
    pipe 666 /dev/rpipe/ril.vt.2

on init
    # Support Preload install apks
    mkdir /preload 0771 system system

    mkdir /productinfo 0771 system system

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    #Google FRP
    symlink /dev/block/platform/sdio_emmc/by-name/PERSISTENT /dev/block/persistent

    chown system system /sys/class/power_supply/battery/hw_switch_point
    chown system system /sys/class/power_supply/battery/save_capacity

    #SPRD: Add support for install apk to internal sdcard @{
    mkdir /mnt/secure/internal-asec 0700 root root
    # @}

    # for tsp command
    chown system system /sys/class/sec/tsp/cmd

on fs
    ubiattach 0 ubipac
    mount_all /fstab.sc8830
    mount pstore pstore /sys/fs/pstore
    setprop ro.crypto.fuse_sdcard true
    symlink /system/res /res
    symlink /system/bin /bin

#Allow others to read fb devices
    chmod 660 /dev/graphics/fb0
    chmod 660 /dev/fb0

#permissions for debug
    chown system system /sys/power/restart_cpc
    chmod 0220 /sys/power/restart_cpc

#KEY
    chown system system /sys/class/sec/sec_key/reset_enabled

on post-fs
    chown system system /productinfo
    chmod 0771 /productinfo
    insmod /lib/modules/mali.ko
    insmod /lib/modules/trout_fm.ko

on post-fs-data
    copy /system/etc/bluetooth/bt_stack.conf /data/misc/bluedroid/bt_stack.conf
    chown bluetooth system /data/misc/bluedroid/bt_stack.conf
    chmod 0640 /data/misc/bluedroid/bt_stack.conf
    mkdir /data/local/media 0770 media system
    mkdir /data/local/tmp/slogmodem 0770 system system
    mkdir /data/anr 0771 system system
    mkdir /data/tombstones 0771 system system

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    # Support audio loopback test
    mkdir /dev/pipe 0755 system system
    pipe 666 /dev/pipe/mmi.audio.ctrl

    chmod 220 /proc/cpt/cp_crash
    chmod 660 /proc/cpt/wdtirq
    chmod 660 /proc/cpt/stop
    chmod 660 /proc/cpt/start
    chmod 660 /proc/cpt/modem
    chmod 660 /proc/cpt/dsp

    chown system root /proc/cpt/cp_crash
    chown system root /proc/cpt/wdtirq
    chown system root /proc/cpt/stop
    chown system root /proc/cpt/start
    chown system root /proc/cpt/modem
    chown system root /proc/cpt/dsp

    chown system root /sys/class/rtcc/rtcc_trigger

    chmod 220 /proc/cpw/cp_crash
    chmod 660 /proc/cpw/wdtirq
    chmod 660 /proc/cpw/stop
    chmod 660 /proc/cpw/start
    chmod 660 /proc/cpw/modem
    chmod 660 /proc/cpw/dsp

    chown system root /proc/cpw/cp_crash
    chown system root /proc/cpw/wdtirq
    chown system root /proc/cpw/stop
    chown system root /proc/cpw/start
    chown system root /proc/cpw/modem
    chown system root /proc/cpw/dsp

    chmod 220 /proc/cpwcn/cp_crash
    chmod 660 /proc/cpwcn/wdtirq
    chmod 660 /proc/cpwcn/stop
    chmod 660 /proc/cpwcn/start
    chmod 660 /proc/cpwcn/modem
    chmod 660 /proc/cpwcn/dsp

    chown system root /proc/cpwcn/cp_crash
    chown system root /proc/cpwcn/wdtirq
    chown system root /proc/cpwcn/stop
    chown system root /proc/cpwcn/start
    chown system root /proc/cpwcn/modem
    chown system root /proc/cpwcn/dsp

    chown system root /proc/mdbg
    chown system root /proc/mdbg/assert
    chown system root /proc/mdbg/wdtirq
    chown system root /proc/mdbg/loopcheck
    chown system root /proc/mdbg/at_cmd

    chmod 555 /proc/mdbg
    chmod 760 /proc/mdbg/assert
    chmod 760 /proc/mdbg/wdtirq
    chmod 760 /proc/mdbg/loopcheck
    chmod 760 /proc/mdbg/at_cmd


on boot
    chown system system /sys/module/mali/parameters/gpu_freq_cur
    chown system system /sys/module/mali/parameters/gpu_freq_max_limit
    chown system system /sys/module/mali/parameters/gpu_freq_min_limit
    chown system system /sys/module/mali/parameters/gpu_freq_list
    chown system system /sys/class/backlight/sprd_backlight/brightness
    chown system system /sys/class/leds/red_bl/high_time
    chown system system /sys/class/leds/red_bl/low_time
    chown system system /sys/class/leds/red_bl/rising_time
    chown system system /sys/class/leds/red_bl/falling_time
    chown system system /sys/class/leds/red_bl/on_off

    chown system system /sys/class/leds/green_bl/high_time
    chown system system /sys/class/leds/green_bl/low_time
    chown system system /sys/class/leds/green_bl/rising_time
    chown system system /sys/class/leds/green_bl/falling_time
    chown system system /sys/class/leds/green_bl/on_off

    chown system system /sys/class/leds/blue_bl/high_time
    chown system system /sys/class/leds/blue_bl/low_time
    chown system system /sys/class/leds/blue_bl/rising_time
    chown system system /sys/class/leds/blue_bl/falling_time
    chown system system /sys/class/leds/blue_bl/on_off

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chown system system /sys/devices/system/cpu/cpufreq/sprdemand/cpu_hotplug_disable
    chown system system /sys/devices/system/cpu/cpuhotplug/cpu_hotplug_disable
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_available_frequencies
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
    chown system system /sys/devices/system/cpu/cpu0/online
    chown system system /sys/devices/system/cpu/cpufreq/sprdemand/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/sprdemand/boost
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_freq
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_enable
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_enable
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_upthreshold
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_downdifferential
    chown media system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_freq
    chown media system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_request
    chown system system /dev/iq_mem
    chown system system /sys/class/graphics/fb0/dynamic_pclk
    chown system system /sys/class/graphics/fb0/dynamic_mipi_clk
    chown system system /dev/sprd_bm
    chown system system /sys/class/thermal/cooling_device0/cur_ctrl_param
    chown system system /sys/class/power_supply/battery/chg_cool_state
    chown system system /sys/class/power_supply/battery/adjust_cur_min
    chown system system /sys/class/power_supply/battery/adjust_cur_max
    chown system system /sys/class/power_supply/battery/stop_charge
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpufreq/sprdemand/cpu_hotplug_disable
    chmod 0664 /sys/devices/system/cpu/cpuhotplug/cpu_hotplug_disable
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_available_frequencies
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/online
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chmod 0660 /sys/devices/system/cpu/cpufreq/sprdemand/boostpulse
    chmod 0660 /sys/devices/system/cpu/cpufreq/sprdemand/boost
    chmod 0660 /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_freq
    chmod 0660 /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_enable
    chmod 0444 /dev/iq_mem
    chmod 0660 /dev/sprd_bm
    chmod 0660 /sys/class/graphics/fb0/dynamic_pclk
    chmod 0660 /sys/class/graphics/fb0/dynamic_mipi_clk

on charger
    start console
    start slog

service poweroffalarm /system/bin/poweroff_alarm
    disabled
    oneshot

on alarm
    class_start core
    start drm
    start media
    start console
    start slog
    start poweroffalarm

on property:ro.board_ram_size=min
    setprop zram.disksize 64

on property:ro.board_ram_size=low
    setprop zram.disksize 200
    write /proc/sys/vm/extra_free_kbytes 1024
    write /sys/module/zram/parameters/total_mem_usage_percent  35

on property:ro.board_ram_size=mid
    setprop zram.disksize 400
    write /proc/sys/vm/extra_free_kbytes 2048

on property:ro.board_ram_size=high
    setprop zram.disksize 600
    write /proc/sys/vm/extra_free_kbytes 4096

on property:ro.config.zram.support=true
    write /proc/sys/vm/page-cluster  0
    start zram

service zram /system/xbin/zram.sh
        disabled
        oneshot


on property:ro.debuggable=1
    write /sys/kernel/debug/fatal_dump/enable 1
    chmod 777 /sys/kernel/debug/sc2713-regulator/vddarm/voltage
    chmod 777 /sys/kernel/debug/sc2713-regulator/vddcore/voltage
    chmod 777 /sys/kernel/debug/sprd-regulator/vddarm/voltage
    chmod 777 /sys/kernel/debug/sprd-regulator/vddcore/voltage
    chmod 755 /sys/kernel/debug
    write /proc/sys/fs/suid_dumpable 1
    write /sys/module/smsg/parameters/debug_enable 1

on property:ro.product.name=sp9838aea_auto_slt
    setprop persist.sys.sprd.mtbf 0

on property:ro.modem.t.count=1
    write /proc/sim/0 t

on property:ro.modem.t.count=2
    write /proc/sim/0 t
    write /proc/sim/1 t

on property:ro.modem.t.count=3
    write /proc/sim/0 t
    write /proc/sim/1 t
    write /proc/sim/2 t

on property:ro.modem.w.count=1
    write /proc/sim/0 w

on property:ro.modem.w.count=2
    write /proc/sim/0 w
    write /proc/sim/1 w

on property:ro.modem.w.count=3
    write /proc/sim/0 w
    write /proc/sim/1 w
    write /proc/sim/2 w

on property:sys.boot_completed=1
    write /sys/kernel/mm/ksm/run   1

# set TCP buffer thresholds for each network type
    write /proc/sys/net/core/rmem_max 8388608

# SPRD: add for theme setting @{
on property:universe_ui_support=true
    start theme_init

service theme_init /system/bin/theme_init.sh
    disabled
    oneshot
# @}

#modem_control
service modem_control  /system/bin/modem_control
    class core
    user system
    group system radio shell
    oneshot

service modemd /system/bin/modemd
    class core
    user system
    group system radio shell
    oneshot

service wcnd /system/bin/wcnd
    class core
    #   we will start as root and wcnd will switch to user system
    user system
    group system shell wifi inet bluetooth net_bt_stack
    oneshot


service wcnd_eng /system/bin/wcnd -G
    class core
    group system shell wifi inet bluetooth net_bt_stack
    disabled
    oneshot

service phoneserver_t /system/bin/phoneserver -m t
    class core
    user root
    group radio system shell dhcp
    disabled
    oneshot

service phoneserver_w /system/bin/phoneserver -m w
    class core
    user root
    group radio system shell dhcp
    disabled
    oneshot

service phoneserver_l /system/bin/phoneserver -m l
    class core
    user root
    group radio system shell dhcp
    disabled
    oneshot

service phoneserver_tl /system/bin/phoneserver -m tl
    class core
    user root
    group radio system shell
    disabled
    oneshot

service phoneserver_lf /system/bin/phoneserver -m lf
    class core
    user root
    group radio system shell
    disabled
    oneshot

##td rild service
#service tril-daemon /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m t -n 0
#    class core
#    socket trild stream 660 root radio
#    socket trild-debug stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log
#
#service tril-daemon1 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m t -n 1
#    class core
#    socket trild1 stream 660 root radio
#    socket trild-debug1 stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log
#
#service tril-daemon2 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m t -n 2
#    class core
#    socket trild2 stream 660 root radio
#    socket trild-debug2 stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log
#
##wcdma rild service
#service wril-daemon /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m w -n 0
#    class core
#    socket wrild stream 660 root radio
#    socket wrild-debug stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log shell
#
#service wril-daemon1 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m w -n 1
#    class core
#    socket wrild1 stream 660 root radio
#    socket wrild-debug1 stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log shell
#
#service wril-daemon2 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m w -n 2
#    class core
#    socket wrild2 stream 660 root radio
#    socket wrild-debug2 stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log shell
#
##lte rild service
#service lril-daemon /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m l -n 0
#    class core
#    socket rild stream 660 root radio
#    socket rild-debug stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log shell
#
#service lril-daemon1 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m l -n 1
#    class core
#    socket rild2 stream 660 root radio
#    socket rild-debug2 stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log shell
#
##tl rild service
#service tlril-daemon /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m tl -n 0
#    class core
#    socket rild stream 660 root radio
#    socket rild-debug stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log shell
#
#service tlril-daemon1 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m tl -n 1
#    class core
#    socket rild2 stream 660 root radio
#    socket rild-debug2 stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log shell
#
##lf rild service
#service lfril-daemon /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m lf -n 0
#    class core
#    socket rild stream 660 root radio
#    socket rild-debug stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log shell
#
#service lfril-daemon1 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m lf -n 1
#    class core
#    socket rild2 stream 660 root radio
#    socket rild-debug2 stream 660 radio system
#    disabled
#    user root
#    group radio cache inet misc audio sdcard_rw log shell

#cp_diskserver
service cp_diskserver_td /system/bin/cp_diskserver t 0
    class core
    user system
    disabled
    group system radio shell
    oneshot

service cp_diskserver_w /system/bin/cp_diskserver w 0
    class core
    user system
    group system radio shell
    disabled
    oneshot

service cp_diskserver_l /system/bin/cp_diskserver l 0
    class core
    user system
    group system radio shell
    disabled
    oneshot

service cp_diskserver_tl /system/bin/cp_diskserver tl 0
    class core
    user system
    group system radio shell
    disabled
    oneshot

service cp_diskserver_lf /system/bin/cp_diskserver lf 0
    class core
    user system
    group system radio shell
    disabled
    oneshot

service slog /system/bin/slog -t
    class main
    user system
    group system shell radio log sdcard_r sdcard_rw media_rw
    disabled

service slogmodem /system/bin/slogmodem -s sec
    class main
    user system
    group media_rw system shell radio log sdcard_r sdcard_rw
    disabled

service refnotify_td /system/bin/refnotify -t 0
    class core
    disabled
    user system
    group system radio shell

service refnotify_w /system/bin/refnotify -t 1
    class core
    disabled
    user system
    group system radio shell

service refnotify_l /system/bin/refnotify -t 2
    class core
    disabled
    user system
    group system radio shell

# For CTS of slog ->
# This action is to make sure that the shell user
# can also enable the slog daemon

# convert the debug to system
on property:debug.slog.enabled=1
    setprop persist.sys.slog.enabled 1

# convert the debug to system
on property:debug.slog.enabled=0
    setprop persist.sys.slog.enabled 0

# Start the daemon
on property:persist.sys.slog.enabled=1
    mkdir /data/local/tmp/slog 0770 system system
	mkdir /data/local/tmp/slogmodem 0770 system system
    start slog
    start slogmodem
    start sprd_res_monitor

# Stop the daemon
on property:persist.sys.slog.enabled=0
    stop slog
    stop slogmodem
    stop sprd_res_monitor
    rm /data/local/tmp/sprd_monitor.conf

# For CTS of slog <-

on property:persist.modem.w.enable=1
    symlink /dev/spipe_w1 /dev/vbpipe1
    symlink /dev/spipe_w2 /dev/vbpipe2
    symlink /dev/spipe_w3 /dev/vbpipe3
    symlink /dev/spipe_w6 /dev/vbpipe6
    start refnotify_w
    start cp_diskserver_w

on property:persist.modem.t.enable=1
    start refnotify_td
    start cp_diskserver_td

on property:persist.modem.l.enable=1
    start refnotify_l
    start cp_diskserver_l

on property:persist.modem.lf.enable=1
    start refnotify_l

#create symlink
service smd_symlink /system/bin/ext_symlink.sh -u
    user root
    disabled
    oneshot

#data on
service data_on /system/bin/ext_data.sh  -u
    user root
    disabled
    oneshot

#data off
service data_off /system/bin/ext_data.sh  -d
    user root
    disabled
    oneshot

#kill td app
service kill_td_phone /system/bin/ext_kill.sh  -t
    user root
    disabled
    oneshot

#kill w app
service kill_w_phone /system/bin/ext_kill.sh  -w
    user root
    disabled
    oneshot
#kill lte app
service kill_l_phone /system/bin/ext_kill.sh  -l
    user root
    disabled
    oneshot

#kill td-lte app
service kill_tl_phone /system/bin/ext_kill.sh  -tl
    user root
    disabled
    oneshot

#kill lte-fdd app
service kill_lf_phone /system/bin/ext_kill.sh  -lf
    user root
    disabled
    oneshot

#change owner
service chown_service /system/bin/ext_chown.sh  -c
    class main
    user root
    oneshot

#set mac addr
service set_mac /system/bin/ext_chown.sh  -e
    user root
    disabled
    oneshot

service  inputfreq  /system/bin/inputfreq.sh
    user root
    disabled
    oneshot

service  recoveryfreq  /system/bin/recoveryfreq.sh
    user root
    disabled
    oneshot

    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp0_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp1_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp2_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/ap_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp0_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp1_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp2_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/ap_iis0

service autotest /system/bin/autotest
    class main
    disabled
    user root
    oneshot

service engpcclientt /system/bin/engpc -p t -a /dev/ttyGS0 -d /dev/ttyGS1 -l /dev/ttyGS4
    class core
    user system
    group system radio shell bluetooth net_bt_stack
    disabled
    oneshot

service engpcclientlte /system/bin/engpc -p l -a /dev/ttyGS5 -d /dev/ttyGS1 -l /dev/ttyGS1
    class core
    user system
    group system radio shell bluetooth net_bt_stack
    disabled
    oneshot

service engpcclientwcn /system/bin/engpc -p wcn -a /dev/ttyGS2 -d /dev/ttyGS3
    class core
    user system
    group system radio shell
    disabled
    oneshot

service engpcclientw /system/bin/engpc -p w -a /dev/ttyGS0 -d /dev/ttyGS1 -l /dev/ttyGS4
    class core
    user system
    group system radio shell
    disabled
    oneshot

service engpcclienttl /system/bin/engpc -p tl -a /dev/ttyGS5 -d /dev/ttyGS6
    class core
    user system
    group system radio shell
    disabled
    oneshot

service engpcclientlf /system/bin/engpc -p lf -a /dev/ttyGS5 -d /dev/ttyGS6 -l /dev/ttyGS7
    class core
    user system
    group system radio shell
    disabled
    oneshot

#volte
service modemDriver /system/bin/modemDriver_vpad_main
    class core
    user root
    group system radio shell

on property:persist.sys.volte.enable=true
    start modemDriver
    
service umount_service /system/bin/umount /preload
    disabled
    oneshot

# Support Preload install apks
on property:persist.sys.storage_preload=1
    mount ext4 /dev/block/platform/sdio_emmc/by-name/HIDDEN /preload nosuid nodev ro barrier=1
    setprop storage.preload.complete 1

on property:persist.sys.storage_preload=0
    start umount_service

