#init.j3xnlte_base.rc

on init
    mkdir /cache 0000 system system
    mkdir /efs 0774 radio system

on boot

# for tsp command
    chown system system /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/tsp/input/enabled

#LCD
    chown system system /sys/class/backlight/panel/brightness
    chmod 0664 /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness
    chmod 0664 /sys/class/backlight/panel/auto_brightness
    chown system system /sys/class/lcd/panel/power_reduce
    chmod 0664 /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/lcd/panel/temperature
	chmod 0664 /sys/class/lcd/panel/temperature

# mdnie
	chown system media_rw /sys/class/mdnie/mdnie/scenario
	chmod 0664 /sys/class/mdnie/mdnie/scenario
	chown system system /sys/class/mdnie/mdnie/negative
	chmod 0664 /sys/class/mdnie/mdnie/negative
	chown system media_rw /sys/class/mdnie/mdnie/accessibility
	chmod 0664 /sys/class/mdnie/mdnie/accessibility
	chown system media_rw /sys/class/mdnie/mdnie/mode
	chmod 0664 /sys/class/mdnie/mdnie/mode
	chown system system /sys/class/backlight/panel/weakness_hbm_comp
	chmod 0644 /sys/class/backlight/panel/weakness_hbm_comp

# permissions for cpufreq
    chown radio system sys/power/cpufreq_min_limit
    chown radio system sys/power/cpufreq_max_limit
    chown radio system sys/power/cpufreq_table
    chmod 0664 /sys/power/cpufreq_min_limit
    chmod 0664 /sys/power/cpufreq_max_limit
    chmod 0664 /sys/power/cpufreq_table

# permissions for cpuhotplug
    chown radio system /sys/devices/system/cpu/cpuhotplug/cpu_num_min_limit
    chown radio system /sys/devices/system/cpu/cpuhotplug/cpu_num_limit
    chmod 0664 /sys/devices/system/cpu/cpuhotplug/cpu_num_min_limit
    chmod 0664 /sys/devices/system/cpu/cpuhotplug/cpu_num_limit

# permissions for Battery
   chown system radio /sys/class/power_supply/battery/batt_reset_soc
   chown system radio /sys/class/power_supply/battery/batt_slate_mode
   chown system radio /sys/class/power_supply/battery/factory_mode
   chown system radio /sys/class/power_supply/battery/siop_level
   chown system radio /sys/class/power_supply/battery/wc_enable
   chown system radio /sys/class/power_supply/battery/update
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
   chown system radio /sys/class/power_supply/battery/talk_wcdma
   chown system radio /sys/class/power_supply/battery/talk_gsm
   chown system radio /sys/class/power_supply/battery/call
   chown system radio /sys/class/power_supply/battery/data_call
   chown system radio /sys/class/power_supply/battery/gps
   chown system radio /sys/class/power_supply/battery/wifi
   chown system radio /sys/class/power_supply/battery/lte
   chown system radio /sys/class/power_supply/battery/lcd

# permissions for cpuonline
    chown radio system /sys/devices/system/cpu/cpu0/online
    chown radio system /sys/devices/system/cpu/cpu1/online
    chown radio system /sys/devices/system/cpu/cpu2/online
    chown radio system /sys/devices/system/cpu/cpu3/online
    chmod 0660 /sys/devices/system/cpu/cpu0/online
    chmod 0660 /sys/devices/system/cpu/cpu1/online
    chmod 0660 /sys/devices/system/cpu/cpu2/online
    chmod 0660 /sys/devices/system/cpu/cpu3/online

# permissions for gpu
    chown radio system	/sys/module/mali/parameters/gpu_freq_list
    chown system system	/sys/module/mali/parameters/gpu_freq_min_limit
    chown system system	/sys/module/mali/parameters/gpu_freq_max_limit
    chmod 0664 /sys/module/mali/parameters/gpu_freq_list
    chmod 0664 /sys/module/mali/parameters/gpu_freq_min_limit
    chmod 0664 /sys/module/mali/parameters/gpu_freq_max_limit

#Sensor
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/prox_trim
# Meta Event
    chown system radio /sys/class/sensors/sensor_dev/flush

# Permission for NXP NFC
    chmod 0660 /dev/pn547
    chown nfc nfc /dev/pn547

on fs

# for efs
    chown radio system /efs
    chmod 0771 /efs

#For Absolute Persistence Partition 
    mkdir /persdata 0755 system system
    mkdir /persdata/absolute 0750 system system

    wait /dev/block/platform/sdio_emmc/by-name/PERSDATA
    check_fs /dev/block/platform/sdio_emmc/by-name/PERSDATA ext4
    mount ext4 /dev/block/platform/sdio_emmc/by-name/PERSDATA /persdata/absolute nosuid nodev barrier=1

    chown system system /persdata
    chmod 0755 /persdata 
    chown system system /persdata/absolute
    chmod 0750 /persdata/absolute

# bluetooth dhcp config
	service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

# Indicate boot complete to PM to complete PM initialization
on property:dev.bootcomplete=1
    write /dev/console [AUTOTEST]BOOT_COMPLETE

# Interactive governor parameters tuning for better power and performance
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 25000
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1350000
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads 85
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 40000
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 0
