import /init.j3xnlte_base.rc

on init
    # SEC_SELINUX
    # for audit message
    chown system system /proc/avc_msg
    chmod 0660 /proc/avc_msg
    restorecon /dev/pipes

    mkdir /efs 0771 radio system
    mkdir /efs/imei 0775 radio system

on post-fs-data
    # sec_efs_file
    mkdir /efs/sec_efs 0775 radio system

    mkdir /data/misc/audit 0775 audit system
    mkdir /data/misc/wifi_share_profile 0771 wifi system
    mkdir /data/misc/wifi_hostapd 0771 wifi system

    # SPRD: For saving the hprof
    mkdir /data/misc/hprofs 0770 system system

    # SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    mkdir /data/anr 0775 system system
    chown system system /data/anr
    chmod 0775 /data/log
    chmod 0775 /data/anr
    restorecon /data/log
    restorecon /data/anr

    # MUIC
    chown system radio /sys/class/sec/switch/uart_en

    # NFC: create data/nfc for nv storage
    mkdir /data/nfc 770 nfc nfc
    mkdir /data/nfc/param 770 nfc nfc

    # MTP device permission
    chmod 0660 /dev/mtp_usb
    chown system mtp /dev/mtp_usb
    mkdir /dev/socket/mtp 0770 system mtp

# [ SEC_MM_DRM
    # OMA DB directory creation
    mkdir /data/system/databases 0775
    chown system system /data/system/databases
    chmod 0775 /data/system/databases

    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added for Playready DRM Support
    mkdir /data/data/.drm 0775
    chown drm system /data/data/.drm
    chmod 0775 /data/data/.drm
    mkdir /data/data/.drm/.playready 0775
    chown drm system /data/data/.drm/.playready
    chmod 0775 /data/data/.drm/.playready

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm

    restorecon -R /efs
    restorecon -R /carrier
    restorecon_recursive /data/misc/keystore
    restorecon_recursive /data/property
    restorecon_recursive /data/security
# ]

on boot
    export LD_SHIM_LIBS /system/bin/gpsd|libdmitry.so

    chown root system /sys/module/pomemr/parameters/freepage_order
    chmod 0664 /sys/module/pomemr/parameters/freepage_order    

    # for BT MAC address
    mkdir /efs/bluetooth 0775 radio system
    # if already exist
    chown radio system /efs/bluetooth
    chmod 0775 /efs/bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown radio net_bt_stack /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr

    chown system radio /sys/class/camera/flash/rear_flash

 # permissions for Input booster
    chmod 0660 /sys/class/input_booster/level
    chown system radio /sys/class/input_booster/level
    chmod 0660 /sys/class/input_booster/head
    chown system radio /sys/class/input_booster/head
    chmod 0660 /sys/class/input_booster/tail
    chown system radio /sys/class/input_booster/tail

 # permission for CHARGING
   chown system radio /sys/class/power_supply/battery/batt_reset_soc
   chown system radio /sys/class/power_supply/battery/batt_slate_mode
   chown system radio /sys/class/power_supply/battery/factory_mode
   chown system radio /sys/class/power_supply/battery/siop_level
   chown system radio /sys/class/power_supply/battery/wc_enable
   chown system radio /sys/class/power_supply/battery/update
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
   chown system radio /sys/class/power_supply/battery/talk_wcdma
   chown system radio /sys/class/power_supply/battery/talk_gsm
   chown system radio /sys/class/power_supply/battery/call
   chown system radio /sys/class/power_supply/battery/data_call
   chown system radio /sys/class/power_supply/battery/gps
   chown system radio /sys/class/power_supply/battery/wifi
   chown system radio /sys/class/power_supply/battery/lte
   chown system radio /sys/class/power_supply/battery/lcd
   chmod 0664 /sys/class/power_supply/battery/charge_otg_control
   chown media sdcard_rw /sys/class/power_supply/battery/store_mode

   setprop persist.sys.cmdservice.enable disable

   write /sys/block/mmcblk0/queue/scheduler noop
    
#IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket

on charger
    #    mount_all /fstab.sc8830 # mount_all may trigger "on nonencrypted"
    mount ext4 /dev/block/platform/sdio_emmc/by-name/SYSTEM /system wait ro
    copy /system/etc/battery_charging_temp.data /sys/class/power_supply/battery/batt_temp_table

    wait /dev/block/platform/sdio_emmc/by-name/efs
    check_fs /dev/block/platform/sdio_emmc/by-name/efs ext4
    mount ext4 /dev/block/platform/sdio_emmc/by-name/efs /efs nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit,errors=panic

    chown system radio /efs
    chmod 0771 /efs
    mkdir /efs/Battery 0775 radio system

#service powersnd /system/bin/samsungpowersoundplay
#    class main
#    user media
#    group system
#    disabled
#    oneshot

# Strongswan VPN
service charon /system/bin/charon
    class main
    socket charon stream 600 system system
    # charon will setuid to vpn after getting necessary resources.
    group vpn net_admin inet
    disabled
    oneshot

on fs
#IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin
