import /init.j3xnlte_base.rc

on boot
    export LD_SHIM_LIBS /system/bin/gpsd|libdmitry.so:/system/lib/libril.so|libril_shim.so

    #IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket


on fs
	#IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin
