#cp_diskserver
service cp_diskserver_td /vendor/bin/cp_diskserver t 0
    class core
    user system
    disabled
    group system radio shell
    oneshot

service cp_diskserver_w /vendor/bin/cp_diskserver w 0
    class core
    user system
    group system radio shell
    disabled
    oneshot

service cp_diskserver_l /vendor/bin/cp_diskserver l 0
    class core
    user system
    group system radio shell
    disabled
    oneshot

service cp_diskserver_tl /vendor/bin/cp_diskserver tl 0
    class core
    user system
    group system radio shell
    disabled
    oneshot

service cp_diskserver_lf /vendor/bin/cp_diskserver lf 0
    class core
    user system
    group system radio shell
    disabled
    oneshot
